.notificationCard{
    background-color: #ccc;
    width: 400px;
    margin: auto;
    border-radius: 2rem;
    padding: .5rem 0;
    margin-top: .5rem;
}

.notificationBox{
    margin-bottom: 1rem;
}

.notificationCardInner{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.notificationCard img{
    height: 2rem;
}

.notificationMain{
    font-weight: 500;
}

@media screen and (max-width: 1120px){
    .notificationCard{
        width: fit-content;
    }
}

@media screen and (max-width: 800px) {
    .notificationCard {
        width: fit-content;
    }
}

@media screen and (max-width: 800px) {
    .notificationCard {
        width: fit-content;
    }
    .notificationCardInner span{
        font-size: .8rem;
    }
}