.bidderProfileContainer{
    width: 90%;
    max-width: 1700px;
    margin: auto;
    
    
    
}
.bidderProfile{
    background-color: rgb(8, 0, 100);
    padding: 3rem 0;
    
}

.profileActionContainer{
    display: flex;
}

.profileBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bidderProfileLeft{
    width: 30%;
    background-color: #fff;
    border-radius: 2rem;
    height: 100%;
}

.profImage{
    height: 100% !important;
    
    object-fit: fill;
    border-radius: 100%;
}

.profileImageContainer{
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border: 1px solid #121212;
    border-radius: 100%;
}

.profileImage{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.bidderProfileInfoContainer{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileUsername{
    color: rgba(164, 76, 233, 1);
    margin: 0;
    text-align: center;
    margin-top: 1rem
}

.profileUserwork{
    color:  rgba(20, 20, 20, 1);
    margin: .5rem;
    text-align: center;
}

.profileRatingContainer{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.profileDetailsContainer{
    
    border-top: 2px solid black;
    width: 85%;
    margin: auto;
    font-weight: 500;
    padding: .7rem 0;
}

.bidderProfileRight{
    width: 66%;
   
    
    
    display: flex;
    flex-direction: column;
}

.profileLabel{
    margin-bottom: 0;
}

.userAndCompanyDetails{
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    
}

.detailsHeader{
    text-align: center;
}

.userAndCompanyDocuments{
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #fff;
}

.docContainer{
    display: flex;
    width: 30%;
    align-items: center;
    color: #111
    
}

.documentList{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.docName{
    align-self: center;
}

.bidderProfileNav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: #fff;
}

.editProfileBtn{
    background: linear-gradient(45deg, #a44ce9, #d112a0, #5c3ec1);
    padding: .6rem 1rem;
    border-radius: .6rem;
    width: fit-content;
    display: flex;
    color: white;
    align-items: center;
    margin-left: 10px;

}

.editProfileBtn img{
    height: 1rem;
}

@media screen and (max-width: 900px){
    .profileBox{
        flex-direction: column;
    }
    .bidderProfileLeft{
        width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    .bidderProfileRight{
        width: 100%;
    }

}



@media screen and (max-width: 500px) {
    .documentList {
            margin-top: 1rem;
            flex-direction: column;
            
            padding-left: 1rem;
        }
        .docContainer{
            width: 100%;
            margin-bottom: .5rem;
        }
}