:root {
	--btn-bg: linear-gradient(to right, #f77f7c, #ff3268);
	/* --nav-bg: linear-gradient(to right, #8a79cd, #737aff, #050a6c); */
	--nav-bg: linear-gradient(to bottom, #494ea2, #0f1256);
	--mob-bg: linear-gradient(to bottom right, #494ea2, #0f1256);
}

.toggle__btn {
	display: none;
}

.orgNav {
	width: 100%;
	height: 8.9375rem;
	background: var(--nav-bg);
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	z-index: 6;
}

.nav__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	padding: auto;
	height: 100%;
}

.nav__logo {
	width: 20.945rem;
	height: 4.1144rem;
}

.nav__items {
	display: flex;
	align-items: center;
	justify-content: center space-between;
	gap: 1rem;
}

.nav__items li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-transform: uppercase;
	color: white;
	font-size: 1.6175rem;
	font-weight: 800;
	background: var(--btn-bg);
	padding: 0.5rem;
	border-radius: 2.62px;
	cursor: pointer;
}

.nav__items li img {
	width: 2rem;
	height: 1.5rem;
}

.popUpContainer{
	position: relative;
}

.popUpContainer:hover .navPopUp{
	display: block;
	padding: .5rem 0;
}



.navPopUp{
	
	height: fit-content;
	width: 100%;
	border-radius: .5rem;
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	top: 3rem;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
	right: 0;
}

.navPopUpBox{
	width: 90%;
	margin: auto;
}


.navPopUpTop{
	
	display: flex;
	border-bottom: 1px solid #ccc;
	align-items: center;
	padding: .5rem 0;
}
.navPopUpDetails{
	margin-left: .5rem;
}
.navPopUpEmail{
	color: #ccc;
	font-weight: 400;
	
}
.navPopUpName{
	font-size: .7rem;
	font-weight: 400;
	color: #111;
}
.navPopUpDept{
	font-size: .5rem;
	width: fit-content;
	padding: .2rem;
		color: rgba(0, 88, 250, 1);
		background-color: rgba(204, 221, 249, 1);
		border-radius: .3rem;
		margin-left: .5rem;
}
.navPopNameType{
	display: flex;
}

.settingsText{
	font-weight: 500;
}

/* Resonsiveness (Tablets) */
@media (max-width: 1024px) {
	.orgNav {
		height: 5rem;
		
	}

	.nav__logo {
		width: 10.945rem;
		height: 2.1144rem;
	}

	.nav__items li {
		font-size: 0.8175rem;
		font-weight: 800;
	}

	.nav__items li img {
		width: 1.525rem;
		height: 1.525rem;
	}
}

/* Mobile phones */
@media (max-width: 524px) {
	
	.nav__items {
		display: none;
	}

	.toggle__btn {
		padding: 0.7rem 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--btn-bg);
		color: white;
		cursor: pointer;
		z-index: 2;
	}

	.navPopUp {
	
		height: fit-content;
		width: 70%;
		border-radius: .5rem;
		display: none;
		position: absolute;
		background-color: #fff;
		z-index: 1000;
		top: 3rem;
		box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
		left: 0;
	}

	.mobile__nav {
		position: fixed;
		top: 4rem;
		right: 1rem;
		display: flex;
		
		align-items: flex-start;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1rem;
		width: 50%;
		z-index: 2;
		background: var(--mob-bg);
		background-color: red;
	}

	.mobile__nav li {
		display: flex;
		align-items: center;
		justify-content: start;
		color: white;
		cursor: pointer;
		gap: 1rem;
		border-bottom: 1.5px solid white;
		width: 100%;
		padding: 0.5rem;
	}

	.mobile__nav li:hover {
		opacity: 0.7;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(3px);
		z-index: 1;
	}
}
