.OrganizationLoginLeftContainer{
    width: 25%;
    height: 100vh;
    
}

.organizationContainer{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to  bottom, #494ea2,#0f1256);
    position: relative;
    width: 100%;
    height: 100%;
}

.loginLogo{
    align-self: center;
    width: 12rem;
    position: absolute;
    top: 5rem;
    margin: 0;
}

.hands{
    width: 100%;
    height: 28rem;
    
    
}

.leftContainerTitle{
    text-align: center;
    color: white
}

.leftContainerText{
    color: #bdbdbd;
    text-align: center;
}
@media screen and (max-width: 780px) {
    .OrganizationLoginLeftContainer{
        display: none;
    }
}