.successModalOverlay{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(249, 249, 250, .8);
    
}

.successModal{
    width: 30%;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: .5rem;
}

.successText{
    font-size: .8rem;
    text-align: center;
}

.successImage{
    width: 6rem;
    display: block;
    margin: auto;
}

.successModalBtn{
    
    width: 95%;
}

.successHeader{
    text-align: center;
}

@media screen and (max-width: 780px){
    .successModal{
        width: 70%;
    }
}