.footerContainer{
    height :fit-content;
    width: 100vw;
    max-width: 1700px;
    margin: auto;
    background-color: rgb(8, 0, 100);
}

.footerBox{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.footerLogo{
    width: 10rem;
}

.inputBox{
    background-color: #292b7d;
    height: fit-content;
    width: 100%;
    display: flex;
    padding-left:1rem;
    border-radius: 1rem;

}

.footerBody{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.Right h4{
    color: white
}
.leftFooter{
    width: 45%;
}

.footerLink{
    text-decoration: none;
    color: #ffffffc2;
}

.Right{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.helpBox{
    width:45%
}

.contactBox{
    width: 45%;
    
}

.contactBoxText{
color: #ffffffba
}

.footerText{
    color: #cfcfcfb3;
    width: 100%;
    margin-bottom: 1rem;
}

.inputBox input{
    background: transparent;
    outline: none;
    border: none;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    align-self: center;
    width: 80%
}

.footerBottom{
    width: 100%;
    border-top: 2px solid #a32067;
    margin-top: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.footerBottomLeft{
    display: flex;
    align-items: center;
    align-self: center;
}

.footerBottomLeft span{
    color: #cfcfcfb3;
    font-weight: 600
}

.footerBottomRight{
    width: 25%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

@media screen and (max-width: 1050px) {
    .footerBox{
        
        padding: 1rem 0;
    }
}
@media screen and (max-width: 950px) {
    .footerBody{
        flex-direction: column;
    }
    .leftFooter {
        width: 90%;
        margin-bottom: 1rem;
    }
    .Right{
        width: 90%;
    }
}

@media screen and (max-width: 700px) {


.footerBottom{
    flex-direction: column;
    align-items: flex-start;
}
.footerBottomLeft {
    margin-bottom: 1rem;
    align-items: flex-start;
    align-self: flex-start;
}
.footerBottomRight {
    width: 60%;
    
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
}


}

@media screen and (max-width: 520px) {
   

    .Right {
        flex-direction: column;
    }
    .helpBox, .contactBox {
        width: 100%;
        margin-bottom: 1rem;
    }
    .footerBottomLeft span{
        font-size: .6rem;
        align-self: center;
    }
    
   
}