.dummyContainer{
    height: 40vh;
    width: 100vw;
    max-width: 1700px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeDummyContainer{
    height: fit-content;
    padding: 2rem 0;
}

.dummyBoxHolder{
    display: flex;
    width: 70%;
    
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.dummyBox{
    background-color: #000b45;
    justify-content: space-between;
    width:  15rem;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
}

.dummyBoxAmount{
    font-weight: 700;
    font-size: 2rem;
    margin: 0

}

.dummyBox span{
    margin-left: .5rem;
}
.bidders{
    margin: 0;
}

@media screen and (max-width: 1182px) {
    .homeDummyBoxHolder{
        width: 80%;
    }
}

@media screen and (max-width: 1050px) {
    .homeDummyBoxHolder {
        width: 90%;
    }
}
@media screen and (max-width: 880px) {
    .homeDummyBoxHolder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .homeDummyBidder {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .homeDummyBoxHolder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }

    .homeDummyBidder {
        width: 90%;
        margin: auto;
    }
}