.mainHeader{
    background-color: #000b45;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    height: 6rem;
    margin-bottom: 1rem;
    align-items: center;
}

.mainNav{
    width: 90%;
    max-width: 1700px;
    justify-content: space-between;
    display: flex;
}

.mainNavListParent{
    display: flex;
    width: 60%;
    /* align-self: center;  */
    align-items: center;
    height: 3rem;
    
    justify-content: space-between;
}

.mainNavListParent li{
    color: #fff
}

.HomeBtn{
    display: flex;
    width: fit-content;
    background: linear-gradient(to right, #f77d7b, #ff3268);
    outline: none;
    border: none;
    color: #fff;
    align-items: center;
    padding: 0 .5rem;
    cursor: pointer;
    height: fit-content;
    border-radius: .4rem;
    
}

.svg{
    margin-left: .5rem;
}
.homeNavIcon, .homeNavIcon2{
    display: none;
}

.mobileNavListParent{
    display: none;
}

@media screen and (max-width: 780px) {
    .homeNavIcon2 {
        display: flex;
        z-index: 4000;
        color: #fff;
        font-size: 2rem;
    }
}

@media screen and (max-width: 720px){
    .mainNavListParent{
        display: none;
    }
    .homeNavIcon{
        display: flex;
        color: #fff;
        font-size: 2rem;
    }
    .mobileNavListParent{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #000b45;
        align-items: center;
        left: 0;
        height: 100vh;
    }

    .mobileNavListParent ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        align-items: center;
        
    }
    .closeHomeIcon{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

}