* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--primary_color: #6970ee;
}

body {
	overflow-x: hidden;
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

.app {
	width: 100vw;
	height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.loginLabel {
	margin-bottom: 1rem;
}
