:root{
  --primary_color: #6970EE
}

body{
  overflow-x: hidden;
}

.app{
 width: 100vw;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loginLabel {
  margin-bottom: 1rem;
}