.createNavContainer{
    width: 90%;
    max-width: 1700px;
    padding-bottom: 1rem;
    margin: auto;
}

.createNavContainer h2{
    text-align: center;
    margin-bottom: 1rem;
}

.labelContainer{
    display: flex;
}

.labelContainer span {
    color: red
}

.createTenderBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createTenderBox textarea {
    height: 6rem;
    padding: 1rem;
    outline: none;
    margin-top: .3rem;
    margin-bottom: 2rem;
}

.fileName{
    font-size: .8rem;
    color: green
}

.durationBox{
    width: 46%;
    margin-bottom: 1rem;
}

.createTenderBox input {
    border: none;
    outline: none;
    cursor: pointer;
}

.createTenderBtn{
    display: flex;
    justify-content: flex-end;
    
}

.createTenderBox label {
    font-weight: 500;
}

@media screen and (max-width: 780px) {

    .companyBox {
        width: 100%;
        flex-direction: column;
    }

    .durationBox {
        width: 100%;
    }

    .createTenderBox input {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
}
}